
.vx-popup-inner{
  transition:transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s;
}
.vx-body{
  overflow:auto;
}
.flexbox-demos{
  padding:10px;
  overflow:hidden;
  .flexbox-item{
    background:#3399ff;
    border-radius:6px;
    text-align:center;
    color:#fff;
    line-height:30px;
  }
  .flex-wrap .flexbox-item{
    margin:5px 0;
  }
}