.vx-popup-inner {
  transition: transform 0.2s ease-out 0s, opacity 0.2s ease-out 0s; }

.vx-confirm-inner {
  transition: transform 0.2s ease 0s,opacity 0.2s ease 0s; }

.vx-body {
  overflow: auto; }

.flexbox-demos {
  padding: 10px;
  overflow: hidden; }
  .flexbox-demos .flexbox-item {
    background: #eee;
    border-radius: 6px;
    text-align: center;
    line-height: 30px; }
  .flexbox-demos .flex-wrap .flexbox-item {
    margin: 5px 0; }
/*去除滑动警告*/
* { touch-action: pan-y; } 